examples/KNX DateTime - Set Date and Time to Bus.json
[{
  "id": "dt_cfg_1",
  "type": "knxUltimate-config",
  "z": "",
  "host": "224.0.23.12",
  "port": "3671",
  "physAddr": "15.15.202",
  "suppressACKRequest": false,
  "csv": "",
  "KNXEthInterface": "Auto",
  "KNXEthInterfaceManuallyInput": "",
  "autoReconnect": "yes"
},
{
  "id": "dt_inj_now",
  "type": "inject",
  "z": "flow_dt",
  "name": "Send NOW",
  "props": [
    { "p": "payload" }
  ],
  "repeat": "",
  "crontab": "",
  "once": false,
  "onceDelay": 0.1,
  "topic": "",
  "payloadType": "date",
  "x": 150,
  "y": 160,
  "wires": [["dt_node"]]
},
{
  "id": "dt_inj_custom",
  "type": "inject",
  "z": "flow_dt",
  "name": "Send fixed ISO date",
  "props": [
    { "p": "payload", "v": "2026-03-02T10:00:00+01:00", "vt": "str" }
  ],
  "repeat": "",
  "crontab": "",
  "once": false,
  "onceDelay": 0.1,
  "topic": "",
  "x": 170,
  "y": 220,
  "wires": [["dt_node"]]
},
{
  "id": "dt_node",
  "type": "knxUltimateDateTime",
  "z": "flow_dt",
  "server": "dt_cfg_1",
  "name": "KNX Clock",
  "outputtopic": "events/knx/datetime",
  "gaDateTime": "1/7/1",
  "nameDateTime": "Bus DateTime",
  "dptDateTime": "19.001",
  "gaDate": "",
  "nameDate": "",
  "dptDate": "11.001",
  "gaTime": "",
  "nameTime": "",
  "dptTime": "10.001",
  "sendOnDeploy": true,
  "sendOnDeployDelay": 2,
  "periodicSend": false,
  "periodicSendInterval": 60,
  "periodicSendUnit": "m",
  "x": 420,
  "y": 190,
  "wires": [["dt_dbg"]]
},
{
  "id": "dt_dbg",
  "type": "debug",
  "z": "flow_dt",
  "name": "DateTime out",
  "active": true,
  "tosidebar": true,
  "console": false,
  "tostatus": true,
  "complete": "true",
  "targetType": "full",
  "x": 640,
  "y": 190,
  "wires": []
}]

