examples/Read KNX Actuator Status.json
[{"id":"6436297e.12f3b","type":"knxUltimate","z":"a3f1427.39288c","server":"123ea2c2.4a920d","topic":"0/0/26","dpt":"1.001","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"notifyreadrequestalsorespondtobus":false,"notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized":"","listenallga":false,"name":"Light Status","outputtype":"write","outputRBE":true,"inputRBE":false,"x":370,"y":540,"wires":[[]]},{"id":"4f03b79f.6ccaf8","type":"debug","z":"a3f1427.39288c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","x":250,"y":740,"wires":[]},{"id":"8d8d9b72.a87e38","type":"function","z":"a3f1427.39288c","name":"Read","func":"return {readstatus:true};","outputs":1,"noerr":0,"x":210,"y":540,"wires":[["6436297e.12f3b"]]},{"id":"b3c990be.d22ef8","type":"inject","z":"a3f1427.39288c","name":"Read","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":540,"wires":[["8d8d9b72.a87e38"]]},{"id":"89584ac8.063368","type":"comment","z":"a3f1427.39288c","name":"Issue a READ request, using a single device node","info":"","x":200,"y":500,"wires":[]},{"id":"2275b131.4ac696","type":"knxUltimate","z":"a3f1427.39288c","server":"123ea2c2.4a920d","topic":"0/0/26","dpt":"1.001","initialread":false,"notifyreadrequest":false,"notifyresponse":true,"notifywrite":false,"notifyreadrequestalsorespondtobus":false,"notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized":"","listenallga":false,"name":"Light Status","outputtype":"write","outputRBE":false,"inputRBE":false,"x":90,"y":740,"wires":[["4f03b79f.6ccaf8"]]},{"id":"c2e11edb.a3523","type":"comment","z":"a3f1427.39288c","name":"Catch the response from the device","info":"","x":160,"y":700,"wires":[]},{"id":"acce1dd9.03a75","type":"knxUltimate","z":"a3f1427.39288c","server":"123ea2c2.4a920d","topic":"0/0/26","dpt":"1.001","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"notifyreadrequestalsorespondtobus":false,"notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized":"","listenallga":true,"name":"All","outputtype":"write","outputRBE":false,"inputRBE":false,"x":330,"y":640,"wires":[[]]},{"id":"2eaf03af.aa76d4","type":"function","z":"a3f1427.39288c","name":"Read","func":"return {destination:\"0/0/26\",readstatus:true};\n","outputs":1,"noerr":0,"x":210,"y":640,"wires":[["acce1dd9.03a75"]]},{"id":"7ceaa2db.6878cc","type":"inject","z":"a3f1427.39288c","name":"Read","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":640,"wires":[["2eaf03af.aa76d4"]]},{"id":"63a6338f.ab493c","type":"comment","z":"a3f1427.39288c","name":"Issue a READ request, using a \"universal mode\" node","info":"","x":220,"y":600,"wires":[]},{"id":"123ea2c2.4a920d","type":"knxUltimate-config","z":"","host":"224.0.23.12","port":"3671","physAddr":"15.15.22","suppressACKRequest":false,"csv":"","KNXEthInterface":"en9","KNXEthInterfaceManuallyInput":"","statusDisplayLastUpdate":false,"statusDisplayDeviceNameWhenALL":false,"statusDisplayDataPoint":false}]