examples/Virtual Device.json
[ { "id": "16008ddc.e536aa", "type": "knxUltimate", "z": "a3f1427.39288c", "server": "123ea2c2.4a920d", "topic": "15/0/1", "dpt": "1.001", "initialread": false, "notifyreadrequest": false, "notifyresponse": true, "notifywrite": false, "notifyreadrequestalsorespondtobus": true, "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0", "listenallga": false, "name": "Light Status", "outputtype": "write", "outputRBE": false, "inputRBE": false, "x": 430, "y": 240, "wires": [ [ "77a09b0c.e52c8c" ] ] }, { "id": "6534702.5ef911", "type": "inject", "z": "a3f1427.39288c", "name": "", "topic": "", "payload": "true", "payloadType": "bool", "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "x": 90, "y": 280, "wires": [ [ "16008ddc.e536aa" ] ] }, { "id": "c0770803.2989e8", "type": "inject", "z": "a3f1427.39288c", "name": "", "topic": "", "payload": "false", "payloadType": "bool", "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "x": 90, "y": 320, "wires": [ [ "16008ddc.e536aa" ] ] }, { "id": "77a09b0c.e52c8c", "type": "debug", "z": "a3f1427.39288c", "name": "", "active": true, "tosidebar": true, "console": false, "tostatus": true, "complete": "true", "targetType": "full", "x": 570, "y": 240, "wires": [] }, { "id": "9fa2b51.051e348", "type": "knxUltimate", "z": "a3f1427.39288c", "server": "123ea2c2.4a920d", "topic": "15/0/1", "dpt": "1.001", "initialread": false, "notifyreadrequest": true, "notifyresponse": true, "notifywrite": true, "notifyreadrequestalsorespondtobus": true, "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0", "listenallga": false, "name": "Light Status", "outputtype": "write", "outputRBE": false, "inputRBE": false, "x": 90, "y": 100, "wires": [ [] ] }, { "id": "6026b0c2.01986", "type": "comment", "z": "a3f1427.39288c", "name": "This is the Virtual device node. The Group Address must not belong to any real KNX device.", "info": "", "x": 340, "y": 60, "wires": [] }, { "id": "d534985d.c8889", "type": "function", "z": "a3f1427.39288c", "name": "Read", "func": "return {readstatus:true};", "outputs": 1, "noerr": 0, "x": 210, "y": 240, "wires": [ [ "16008ddc.e536aa" ] ] }, { "id": "5d348222.98124c", "type": "inject", "z": "a3f1427.39288c", "name": "Read", "topic": "", "payload": "true", "payloadType": "bool", "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "x": 90, "y": 240, "wires": [ [ "d534985d.c8889" ] ] }, { "id": "7b3ea20f.7a5d9c", "type": "comment", "z": "a3f1427.39288c", "name": "Simulate the read request and the setting of the node's status", "info": "", "x": 240, "y": 200, "wires": [] }, { "id": "123ea2c2.4a920d", "type": "knxUltimate-config", "z": "", "host": "224.0.23.12", "port": "3671", "physAddr": "15.15.22", "suppressACKRequest": false, "csv": "\"Group name\"\t\"Address\"\t\"Central\"\t\"Unfiltered\"\t\"Description\"\t\"DatapointType\"\t\"Security\"\n\"Attuatori luci\"\t\"0/-/-\"\t\"\"\t\"\"\t\"Attuatori luci\"\t\"\"\t\"Auto\"\n\"Luci primo piano\"\t\"0/0/-\"\t\"\"\t\"\"\t\"Luci primo piano\"\t\"\"\t\"Auto\"\n\"Camera da letto luce\"\t\"0/0/1\"\t\"\"\t\"\"\t\"Camera da letto luce\"\t\"DPST-1-8\"\t\"Auto\"\n\"Loggia camera da letto\"\t\"0/0/2\"\t\"\"\t\"\"\t\"Loggia camera da letto\"\t\"DPST-1-1\"\t\"Auto\"\n\"Camera armadi luce\"\t\"0/0/3\"\t\"\"\t\"\"\t\"Camera armadi luce\"\t\"DPST-1-1\"\t\"Auto\"\n\"Bagno grande luce\"\t\"0/0/4\"\t\"\"\t\"\"\t\"Bagno grande luce\"\t\"DPST-1-1\"\t\"Auto\"\n\"Loggia bagno grande\"\t\"0/0/5\"\t\"\"\t\"\"\t\"Loggia bagno grande\"\t\"DPST-1-1\"\t\"Auto\"", "KNXEthInterface": "Auto", "KNXEthInterfaceManuallyInput": "", "statusDisplayLastUpdate": true, "statusDisplayDeviceNameWhenALL": true, "statusDisplayDataPoint": false } ]